:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --logo-color: #000000;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
    color: var(--logo-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

span.accent {
    color: var(--accent-color);
}

/* footer */

.address {
    color: var(--primary-white-color);
}

.address .link {
    color: var(--primary-white-color);
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
} 
