/* site nav */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav .link {
    color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* hero */

.hero-title {
    color: var(--primary-white-color);
}

/* section */

.section-title {
    color: var(--title-text-color);
}

/* peculiarities */

.peculiarities-list .title {
    color: var(--title-text-color);
}

/* team */

.team-list .title {
    color: var(--title-text-color);
}

/* portfolio.html */

.examples .examples-title {
    color: var(--title-text-color);
}

.examples-filter .link {
    color: var(--title-text-color);
}

.link {
    text-decoration: none;
}

.examples-filter .link:hover,
.examples-filter .link:focus {
    color: var(--primary-white-color);
}

.example-list .title {
    color: var(--title-text-color);
}